<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Coffee Shop</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
	<div class="container">
		<div class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a href="#"><img th:src="@{/img/iconShop.png}" width="200px"
						height="50px" style="margin-right: 15px" /></a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a th:href="@{/product/menu}">Products</a></li>
					<li><a th:href="@{/order/myorders}">Orders</a></li>
					<li><a th:href="@{/user/userDetails}">Profile</a></li>

				</ul>
				<a th:href="@{/logout}" class="btn btn-primary navbar-btn"> <i
					class="fa fa-sign-out"></i> Logout
				</a>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-info"></i> MAKE YOUR ORDER
			</div>
			<div class="panel-body">
				<div class="alert alert-success" th:if="${message!=null}"
					th:text="${message}"></div>
				<a th:href="@{/order/orderDetails}" class="btn btn-primary"> <i
					class="fa fa-check"></i> Proceed With Checkout &nbsp; <span
					class="badge" th:if="${items!=null}" th:text="${items}"></span>
				</a>
				<table class="table">
					<tr>
						<th>Product Name</th>
						<th>Product Description</th>
						<th>Price</th>
						<th>Operation</th>
					</tr>
					<tr th:each="product:${products}">
						<td th:text="${product.productName}"></td>
						<td th:text="${product.description}"></td>
						<td th:text="${product.priceToString}"></td>
						<td><a th:href="@{'/product/productDetails/'+${product.id}}"
							class="btn btn-default"><i class="fa fa-plus"></i> Add To
								Order</a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>